body {
 background-image: url("/src/bg.png");
}

.logo {
 fill: black;
 position: fixed;
 width: 50%;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: navy;
  color: goldenrod;
  text-align: center;
  font-family:system-ui;
}
